parameters:
	level: 9
	paths:
		- src
		- config
		- tests/Acceptance
		- tests/Support/Helper

	scanFiles:
	    - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php

#	excludePaths:
#	    - src/Bridge/Encoder/Json/JsonStream.php

	stubFiles:
	    - stubs/codeception/Example.php