parameters:
	level: 9
	paths:
		- src
		- config

	scanFiles:
	    - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php

	excludePaths:
	    - src/Bridge/Encoder/Json/JsonStream.php